[Desktop Entry]
Version=1.0
Name=Twitch Chat
Exec=env LC_ALL=C /opt/TwitchChat/caycore
Icon=/opt/TwitchChat/twitchchat.png
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
StartupWMClass=caycore
